*.aux
*.bak
*.bbl
*.bcf
*.blg
*.cls~
*.cls.backup
.gitignore~
*.log
*.out
*.run.xml
*.synctex.gz
*.tex~
*.tex.backup
*.txt~
*.inputs
*.csv~
*.swp
*.fls
*.tdo
*.toc
*.tps
*.fdb_latexmk
*.pdf
*.dvi
*.nav
*.vrb
*.snm
